.programs-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.programs-choosearewardprogram {
  width: 100%;
  height: 999px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: var(--dl-color-default-background);
}
.programs-vector {
  top: 62px;
  left: 93px;
  width: 20px;
  height: 16px;
  position: absolute;
}
.programs-frame427318902 {
  top: 102px;
  left: 160px;
  width: 123px;
  height: 24px;
  position: absolute;
}
.programs-frame427318940 {
  top: 206px;
  left: 160px;
  width: 920px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.programs-form {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 24px;
  flex-direction: column;
}
.programs-titles {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.programs-text {
  color: var(--dl-color-default-white);
  width: 549px;
  height: auto;
  font-size: 29px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.programs-frame12146573 {
  width: 920px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.programs-tables {
  display: flex;
  padding: 4px 32px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 209, 102, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  border-radius: 1px;
  margin-bottom: 0px;
  justify-content: space-between;
  background-color: var(--dl-color-default-yellow);
}
.programs-tables-header-labelcell {
  width: 144px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.programs-text02 {
  color: var(--dl-color-default-background);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.programs-tables-header-labelcell1 {
  width: 120px;
  height: 24px;
  display: flex;
  padding: 0 8px 0 0;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.programs-text04 {
  color: var(--dl-color-default-background);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.programs-tables-header-labelcell2 {
  width: 200px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.programs-text06 {
  color: var(--dl-color-default-background);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.programs-tables-header-labelcell3 {
  width: 120px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.programs-text08 {
  color: var(--dl-color-default-background);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.programs-tablerow {
  display: flex;
  padding: 8px 32px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(255, 249, 251, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
  flex-direction: column;
}
.programs-frame12146039 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.programs-frame12146038 {
  width: 144px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.programs-ellipse77 {
  width: 8px;
  height: 8px;
  position: relative;
  border-color: transparent;
  margin-right: 8px;
}
.programs-text10 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.programs-text12 {
  color: var(--dl-color-default-white);
  width: 120px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.programs-text14 {
  color: var(--dl-color-default-white);
  width: 200px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.programs-text16 {
  color: var(--dl-color-default-white);
  width: 120px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.programs-tablerow1 {
  display: flex;
  padding: 8px 32px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(255, 249, 251, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
  flex-direction: column;
}
.programs-frame121460391 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.programs-frame121460381 {
  width: 144px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.programs-ellipse771 {
  width: 8px;
  height: 8px;
  position: relative;
  border-color: transparent;
  margin-right: 8px;
}
.programs-text18 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.programs-text20 {
  color: var(--dl-color-default-white);
  width: 120px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.programs-text22 {
  color: var(--dl-color-default-white);
  width: 200px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.programs-text24 {
  color: var(--dl-color-default-white);
  width: 120px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.programs-tablerow2 {
  display: flex;
  padding: 8px 32px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(255, 249, 251, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
  flex-direction: column;
}
.programs-frame121460392 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.programs-frame121460382 {
  width: 144px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.programs-ellipse772 {
  width: 8px;
  height: 8px;
  position: relative;
  border-color: transparent;
  margin-right: 8px;
}
.programs-text26 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.programs-text28 {
  color: var(--dl-color-default-white);
  width: 120px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.programs-text30 {
  color: var(--dl-color-default-white);
  width: 200px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.programs-text32 {
  color: var(--dl-color-default-white);
  width: 120px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.programs-tablerow3 {
  display: flex;
  padding: 8px 32px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(255, 249, 251, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
  flex-direction: column;
}
.programs-frame121460393 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.programs-frame121460383 {
  width: 144px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.programs-ellipse773 {
  width: 8px;
  height: 8px;
  position: relative;
  border-color: transparent;
  margin-right: 8px;
}
.programs-text34 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.programs-text36 {
  color: var(--dl-color-default-white);
  width: 120px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.programs-text38 {
  color: var(--dl-color-default-white);
  width: 200px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.programs-text40 {
  color: var(--dl-color-default-white);
  width: 120px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.programs-tablerow4 {
  display: flex;
  padding: 8px 32px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(255, 249, 251, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
  flex-direction: column;
}
.programs-frame121460394 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.programs-frame121460384 {
  width: 144px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.programs-ellipse774 {
  width: 8px;
  height: 8px;
  position: relative;
  border-color: transparent;
  margin-right: 8px;
}
.programs-text42 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.programs-text44 {
  color: var(--dl-color-default-white);
  width: 120px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.programs-text46 {
  color: var(--dl-color-default-white);
  width: 200px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.programs-text48 {
  color: var(--dl-color-default-white);
  width: 120px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.programs-tablerow5 {
  display: flex;
  padding: 8px 32px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(255, 249, 251, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  flex-direction: column;
}
.programs-frame121460395 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.programs-frame121460385 {
  width: 144px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.programs-ellipse775 {
  width: 8px;
  height: 8px;
  position: relative;
  border-color: transparent;
  margin-right: 8px;
}
.programs-text50 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.programs-text52 {
  color: var(--dl-color-default-white);
  width: 120px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.programs-text54 {
  color: var(--dl-color-default-white);
  width: 200px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.programs-text56 {
  color: var(--dl-color-default-white);
  width: 120px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
