.programs-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.programs-choosearewardprogram {
  width: 100%;
  height: 1026px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: var(--dl-color-default-background);
}
.programs-frame427318902 {
  top: 102px;
  left: 160px;
  width: 123px;
  height: 24px;
  position: absolute;
}
.programs-frame427318929 {
  top: 206px;
  left: 160px;
  width: 920px;
  height: 536px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: space-between;
}
.programs-frame427318930 {
  height: 325px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.programs-titles {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 24px;
  flex-direction: column;
}
.programs-text {
  color: var(--dl-color-default-white);
  width: 549px;
  height: auto;
  font-size: 29px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.programs-frame427318928 {
  display: flex;
  padding: 24px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.programs-cards {
  height: 212px;
  display: flex;
  padding: 24px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 16px 4px rgba(60, 219, 211, 0.07999999821186066) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(60, 219, 211, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 56px;
  border-radius: 1px;
  flex-direction: column;
  background-color: var(--dl-color-default-background);
}
.programs-group48095299 {
  width: 191px;
  height: 52.18411636352539px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 24px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.programs-group48095295 {
  top: 0px;
  left: 0px;
  width: 56.98477554321289px;
  height: 52.18411636352539px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.programs-vector-stroke {
  top: 0px;
  left: 45.719520568847656px;
  width: 42px;
  height: 47px;
  position: absolute;
}
.programs-vector-stroke01 {
  top: 20.657958984375px;
  left: 54.328895568847656px;
  width: 11px;
  height: 14px;
  position: absolute;
}
.programs-group48095294 {
  top: 5px;
  left: 72.984375px;
  width: 45.23206329345703px;
  height: 42.63733673095703px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.programs-vector-stroke02 {
  top: 11.6492919921875px;
  left: 0px;
  width: 45px;
  height: 13px;
  position: absolute;
}
.programs-vector-stroke03 {
  top: 22.332275390625px;
  left: 3.560546875px;
  width: 38px;
  height: 20px;
  position: absolute;
}
.programs-vector-stroke04 {
  top: 11.6492919921875px;
  left: 21.3662109375px;
  width: 2px;
  height: 31px;
  position: absolute;
}
.programs-vector-stroke05 {
  top: 0px;
  left: 21.3662109375px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.programs-vector-stroke06 {
  top: 0px;
  left: 9.716796875px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.programs-group48095296 {
  top: 0px;
  left: 134.216796875px;
  width: 56.98477554321289px;
  height: 52.18411636352539px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.programs-vector-stroke07 {
  top: 0px;
  left: 11.265256881713867px;
  width: 42px;
  height: 47px;
  position: absolute;
}
.programs-vector-stroke08 {
  top: 20.657958984375px;
  left: 2.655881643295288px;
  width: 11px;
  height: 14px;
  position: absolute;
}
.programs-frame427318927 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.programs-text02 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Lato;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 16px;
  text-decoration: none;
}
.programs-text04 {
  color: var(--dl-color-default-white);
  width: 360px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.programs-component2 {
  height: 212px;
  display: flex;
  padding: 24px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 16px 4px rgba(255, 209, 102, 0.07999999821186066) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(255, 209, 102, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  flex-direction: column;
  background-color: var(--dl-color-default-background);
}
.programs-group48095298 {
  width: 118px;
  height: 52.18411636352539px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 24px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.programs-group48095297 {
  top: 0px;
  left: 0px;
  width: 56.98477554321289px;
  height: 52.18411636352539px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.programs-vector-stroke09 {
  top: 0px;
  left: 45.719520568847656px;
  width: 42px;
  height: 47px;
  position: absolute;
}
.programs-vector-stroke10 {
  top: 20.657958984375px;
  left: 54.328895568847656px;
  width: 11px;
  height: 14px;
  position: absolute;
}
.programs-group48095293 {
  top: 5px;
  left: 72.984375px;
  width: 45.23206329345703px;
  height: 42.63733673095703px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.programs-vector-stroke11 {
  top: 11.6492919921875px;
  left: 0px;
  width: 45px;
  height: 13px;
  position: absolute;
}
.programs-vector-stroke12 {
  top: 22.332275390625px;
  left: 3.560546875px;
  width: 38px;
  height: 20px;
  position: absolute;
}
.programs-vector-stroke13 {
  top: 11.6492919921875px;
  left: 21.3662109375px;
  width: 2px;
  height: 31px;
  position: absolute;
}
.programs-vector-stroke14 {
  top: 0px;
  left: 21.3662109375px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.programs-vector-stroke15 {
  top: 0px;
  left: 9.716796875px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.programs-frame4273189271 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.programs-text06 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Lato;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 16px;
  text-decoration: none;
}
.programs-text08 {
  color: var(--dl-color-default-white);
  width: 360px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.programs-frame427318942 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.programs-button {
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 1px;
  justify-content: center;
}
.programs-text10 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Lato;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.programs-button1 {
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 1px;
  justify-content: center;
  background-color: var(--dl-color-default-white);
}
.programs-text12 {
  color: var(--dl-color-default-background);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Lato;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
